<%= form_tag triage_1_path, method: :get do |form| %>
  <p>
    What problem are you having?
  </p>

  <% sorted_issue_types.each do |issue_type| %>
    <p>
      <%= radio_button_tag :issue_type, issue_type[0] %> <%= label_tag :issue_type, issue_type[0].humanize %>
    </p>
  <% end %>

  <p>
    <%= submit_tag 'Submit', name: nil %>
  </p>
<% end %>
