<p>
  <strong>Property:</strong>
  <%= @repair.property.address %>
</p>

<p>
  <strong>Issue Type:</strong>
  <%= @repair.issue_type.humanize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>
