<p>
  <strong>Property:</strong>
  <%= @repair.property.address %>
</p>

<p>
  <strong>Issue Type:</strong>
  <%= @repair.issue_type.humanize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>

<% if @admin %>
  <h2>
    Admin Only Fields
  </h2>

  <p>
    <strong>Status:</strong>
    <%= @repair.status.humanize %>
  </p>
<% end %>
